<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting type="text" id="lang_name" default="English" enable="false" label="30010"/>
    <setting type="action" action="RunPlugin(plugin://plugin.video.jwb-unofficial/?mode=languages)" option="close" label="30011"/>
    <!-- The order is backwards, but changing it would perhaps break setting with update -->
    <setting type="enum" id="video_res" default="0" lvalues="30005|30004|30003|30002|30001" label="30000"/>
    <setting type="bool" id="remember_lang" default="false" label="30026"/>
    <setting type="bool" id="subtitles" default="false" label="30012"/>
    <setting type="bool" id="startupmsg" default="true" label="30015"/>

    <!-- Values, history, cache -->
    <setting type="text" id="language" default="E" visible="false"/>
    <!-- Note: history needs to be empty by default to trigger a first time setup -->
    <setting type="text" id="lang_history" default="" visible="false"/>
    <setting type="text" id="lang_next" default="" visible="false"/>
    <setting type="text" id="jwt_token" default="" visible="false"/>
    <setting type="text" id="search_tr" default="" visible="false"/>
</settings>
