<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting  id="language" enable="false" type="text" default="E" label="30010" />
    <setting  id="lang_history" type="text" default="E" visible="false" />
    <setting  label="30011" type="action" action="RunPlugin(plugin://plugin.video.jwb-unofficial/?mode=languages)"/>
    <!-- The order is backwards, but changing it would perhaps break setting with update -->
    <setting  id="video_res" type="enum" default="0"
              lvalues="30005|30004|30003|30002|30001" label="30000" />
    <setting  id="subtitles" type="bool" label="30012" default="false" />
    <setting  id="startupmsg" type="bool" label="30015" default="true" />
    <setting  id="jwt_token" type="text" default="" visible="false" />
    <setting  id="search_tr" type="text" default="" visible="false" />
</settings>
